body {
  font-family: "Segoe UI", sans-serif;
}

.CenterBox {
  width: 50%;
  margin: 0 auto;
  background-color: #f6f2fa;
  border: 1px solid #f6f2fa;
  border-radius: 8px;
  padding: 12px 50px;
}

.button {
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  padding: 0.5em;
  transition: all 250ms;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.input {
  font-family: "Segoe UI", sans-serif;
  margin: 0.3em 0 0.3em 0;
  max-width: 190px;
  position: relative;
  font-size: 100%;
  padding: 0.2em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
}

.input-label {
  font-size: 16px;
  font-weight: bold;
}

.notification {
  border-radius: 8px;
  padding: 12px 50px;
  transform-origin: top;
  position: absolute;
  top: 1em;
  width: 40%;
  animation-fill-mode: forwards;
  transition: all 200ms ease-in;
  z-index: 1;
}

.notification-error {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
}
.notification-success {
  background-color: #e4fce9;
  border: 1px solid #a0e7bb;
}

.notification-text {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.068);
  text-align: center;
}

.notification-text-error {
  color: #cc0033;
}
.notification-text-success {
  color: #00cc33;
}

.notification-open {
  animation-name: fadeIn;
  animation-duration: 1s;
}
.notification-close {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
